{% load staticfiles %}
<!-- DOCTYPE HTML -->
<HTML>
<head>
	<title>
		{% block head_title %} Django Post App{% endblock head_title %}
	</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

	<link rel ='stylesheet' href = '{% static "css/base.css" %}'  />

	<style> 
		{% block style %}

		{% endblock style %}
	</style>
</head>
	<body>
	<div class ='container'>
	{% block content %}
		
	{% endblock content %}
	</div>		
	
	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
	</body>
</HTML>

